@import "tailwindcss";

:root {
  --office-white: #FEFEFE;
  --primary-purple: #6E62E5;
  --primary-white: #F6F8FC;
  --bg: #F6F8FC;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 6px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: rgb(202, 198, 198);
  border-radius: 1000px;
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
  position: relative;
}